body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: antiquewhite;
    margin: 0;
    padding: 150px;
}

.resume-container {
    display: flex;
    background-color: aliceblue;
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(32, 29, 29, 0.2);
}

/* Left section styling */
.left-section {
    background-color: rgba(53, 39, 39, 0.8); /* Example alpha value */
    color: aliceblue;
    padding: 20px;
    width: 35%;
}

/* Profile section */
.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 10%;
    border: 5px solid rgba(133, 29, 29, 0.8); /* Example alpha value */
    margin-top: 10px;
    margin-bottom: 20px;
}

h1 {
    font-size: 24px;
    margin: 10px 0;
    margin-bottom: 30px;
    text-align: center;
}

h3 {
    font-size: 18px;
    padding: 2%;
    margin: 20px 0 10px;
    color: rgb(121, 121, 6);
    border-radius: 10px;
    box-shadow: 0 0 15px chocolate;
    margin-top: 5%;
    margin-bottom: 5%;
}

ul {
    list-style-type: disc;
    margin: 10px 0;
}

ul li {
    margin: 5px 0;
}

/* Right section styling */
.right-section {
    padding: 20px;
    width: 65%;
}

button {
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(73, 4, 4, 0.8); /* Example alpha value */
    cursor: pointer;
    margin-top: 10px;
    font-size: 18px;
}

button:hover {
    background-color: cornflowerblue;
}
